* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    background-color: rgb(255, 133, 124);
}

body {
    overflow: hidden;
}

.assets img {
    display: none;
}

.load-scr {
    position: absolute;
    height: 999px;
    width: 999px;
    background: black;
    color: #fff;
    align-content: center;
    vertical-align: middle;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}