* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

canvas {
    background-color: #fff;
}

body {
    overflow: hidden;
}

#assets img {
    display: none;
}

#load-scr {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(133, 182, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}